<html>
	<head>
		<title>Hackathon Wifi Sucks</title>
		<link rel="stylesheet" href="/static/css/styles.css"/>
	</head>

	<body>
		<div class="center">
			<h1>PiGit</h1>
			<h3>A local git server for when the hackathon wifi just ain't doin git</h3>
			<span>{{ error }}</span>
			<span>{{ success }}</span>
			<h2>New Repository</h2>
			<form action="/" method="post">
				<input type="text" name="repo_name" id="repo_name">
				<input type="submit" name="Sumbit" value="Create" id="new_repo">
			</form>

			<h2>Existing Repositories</h2>
			{% for repo in r_list %}
				<h3 class="exist_repo">{{ repo }}</h3>
			{% endfor %}
		</div>
	</body>
</html>
