<html>
	<head>
		<title>Hackathon Wifi Sucks</title>
		<script type="text/javascript" src="/static/js/jquery-1.11.2.min.js"></script>
		<script type="text/javascript" src="/static/js/addField.js"></script>

	</head>

	<body>
		{{ error }}

		<form action="/" method="post">
			<fieldset>
				<legend>Repository Information</legend>
				Repo Name:<br> 
				<input type="text" name="repo_name">
				</br>

				<legend>Users:</legend>
					<div class="input_fields">
						<div>
							<br>
							<input type="text" name="user1">
							</br>
						</div>
					</div>
				<button class="add_field">Add More Users</button>
			</fieldset>
			<input type="submit" name="Sumbit">
			
		</form>

	</body>




</html>
